@model List<IEProject.Models.Question>

@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@foreach (var item in Model)
{
    <table>
        <tr>
            <td colspan="3">
                @item.question_desc
            </td>
        </tr>
        <tr>
            <td>
                @item.answers[0].answer_desc
            </td>
            <td>
                @item.answers[1].answer_desc
            </td>
            <td>
                @item.answers[2].answer_desc
            </td>
        </tr>
    </table>
}